@inject ITitleGeneratorService TitleGenerator

@if (_initialized)
{
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Page Not Found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>

}
else
{
    <div>Loading...</div>
}

@code {
    private bool _initialized = false;

    protected override async Task OnInitializedAsync()
    {
        await TitleGenerator.InitializeAsync();
        _initialized = true;
    }
}
